extends layout

block head
  head
    title Pixie - Product Detail
    link(rel='stylesheet' href='/assets/css/flex-slider.css')

block content
  // Pre Header
  //- #pre-header
  //-   .container
  //-     .row
  //-       .col-md-12
  //-         span Suspendisse laoreet magna vel diam lobortis imperdiet
  // Navigation
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
    .container
      a.navbar-brand(href='/')
        img(src='/assets/images/header-logo.png' alt='')
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item.active
            a.nav-link(href='/products')
              | Buy
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/signup') Sell
  // Page Content
  // Single Starts Here
  .single-product
    .container
      .row
        .col-md-12
          .section-heading
            .line-dec
            h1 #{listing.name}
        .col-md-6
          img(src='/assets/images/product-' + listing.product_image_number + '.jpg')
        .col-md-6
          .right-content
            h4 #{listing.name}
            h6 #{listing.amount}
            p
              | #{listing.description}
            span #{listing.quantity} left on stock
            form(action='' method='get')
              label(for='quantity') Quantity:
              input#quantity.quantity-text(name='quantity' type='quantity' onfocus="if(this.value == '1') { this.value = ''; }" onblur="if(this.value == '') { this.value = '1';}" value='1')
              input#order-now.button(type='submit' value='Order Now!')
              p
              input#paypal_merch_id(hidden='true' value=paypal_merch_id)
              div#paypal-checkout(data-active="false")
            .down-content
              .categories
                h6
                  | Sold by:
                  span
                    | #{listing.seller}
  // Single Page Ends Here

  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  // PayPal Checkout
  script(src='https://www.paypal.com/sdk/js?client-id=AeUaTIQynHfU5M-wqiFdjhLys1Vll5aX5d5pXFvTM2p6VePAkwSeDYNF6c0NdgpkQ3XQjEKxbIigIxF4&merchant-id=' + paypal_merch_id + '&currency=USD&intent=capture')
  // Additional Scripts
  script(src='/assets/js/custom.js')
  script(src='/assets/js/owl.js')
  script(src='/assets/js/isotope.js')
  script(src='/assets/js/flex-slider.js')
  script(language='text/Javascript').
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t){                   //declaring the array outside of the
    if(! cleared[t.id]){                      // function makes it static and global
    cleared[t.id] = 1;  // you could use true and false, but that's more typing
    t.value='';         // with more chance of typos
    t.style.color='#fff';
    }
    }
